.jumbotron{
    font-family: 'Reem Kufi', sans-serif;
    box-shadow: 0px 3px 6px #986696;
    padding: 1rem;
    color: #565656;
}

.top{
    margin-top: 3rem;
}

.make_right{
    float: right;
}

.select{
    width: 50%;
    height: 50px;
    border-radius: 4px;
    background:#fff;
}

.search_bar{
    width: 50%;
    height: 50px;
    border-radius: 4px;
    padding: 10px;
}

.top_bar{
    background-color: #e9ecef;
    padding: 2rem;
    box-shadow: 0px 3px 6px #986696;
}